* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ******* */

/* Font */

/* ******* */

@font-face {
    font-family: revoxa;
    src: url(Revoxa.ttf);
    font-family: lato;
    src: url(Lato-Regular.ttf);
}

/* ********* */

/* Background */

/* ********** */

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(45deg,#ff9aff,  #713e8f); */
    background: linear-gradient(45deg, #088AF3, #e111fd);
    text-align: center;
    font-family: lato;
    font-size: 100%;
}

.tri1 {
    width: 0;
    height: 0;
    border-bottom: 11em solid #1d99ff71;
    border-left: 17em solid transparent;
    border-right: 10em solid transparent;
    position: absolute;
    bottom: 0;
    left: 15%;
}

.tri2 {
    width: 0;
    height: 0;
    border-left: 11em solid #00a2ff5d;
    border-top: 17em solid transparent;
    border-bottom: 11em solid transparent;
    position: absolute;
    top: -7%;
    left: 0;
}

.tri3 {
    width: 0;
    height: 0;
    border-right: 11em solid #9405cc8e;
    border-top: 17em solid transparent;
    border-bottom: 11em solid transparent;
    position: absolute;
    top: 11%;
    right: 0;
}

/* ******** */

/* form */

/* ******** */

/* basic */

form {
    width: 42vmin;
    height: 75vmin;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* Login title */

.login {
    font-family: revoxa;
    display: inline-block;
    font-size: 200%;
    margin: 8% auto;
}

/* inputs */

input[type=text], input[type=password] {
    border: none;
    border-bottom: solid 1px rgb(150, 150, 150);
    width: 100%;
    padding: 10px 35px;
    font-family: lato;
}

input[type=password] {
    background-image: url(logo/lock-closed-outline.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 17px;
}

input[type=text] {
    background-image: url(logo/person-outline.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 17px;
}

.password, .username {
    text-align: left;
    margin: 17px 20px 8px 20px;
}

.forgot {
    float: right;
    margin-right: 15px;
    font-size: 80%;
}

/* *********** */

/* login button */

/* *********** */

input[type=submit] {
    background: linear-gradient(90deg, #4cacfc, #e555f8);
    width: 90%;
    height: 5.4vmin;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: revoxa;
    font-size: 90%;
    margin: 60px 15px 10px 15px;
    cursor: pointer;
}

/* sign up */

.sign-up {
    margin-top: 60px;
}

.links a {
    display: block;
    float: left;
    width: 8vmin;
    /* border: solid red 1px; */
    position: relative;
    left: 60px;
    margin-top: 15px;
}

.links img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    image-rendering: auto;
}